body {
    background-image: url('../../bg-rm-hq-dif.png');
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-left: 1.2%;
    margin-right: 0%;
    margin-top: 1.5%;
}